.menu {
    width: 15%;
    background-color: black;
    padding-top: 15px;
}


.menu-item {
    font-size: 110%;
    margin-top: 5px;
    margin-left: 15px;
    font-weight: bold;
    margin-bottom: 0px;
    font-family: Commons;
    color: #807F7D;
    cursor: pointer;
}

.menu-item:hover {
    color: red;

}

.greetings {
    font-size: 110%;
    margin-top: 5px;
    margin-left: 15px;
    font-weight: bold;
    margin-bottom: 0px;
    font-family: Commons;
    color: yellowgreen;
    cursor: pointer;
}

.menu-caption {
    margin-left: 15px;
    color: #807F7D;
    font-size: 70%;
    font-weight: bold;
    font-family: Avanti;
    margin-bottom: 5px;
}

hr {
    color: white;
}

.recently-played-song {
    margin-left: 15px;
    color: bisque;
    font-size: 70%;
    font-weight: bold;
    font-family: Avanti;
    margin-bottom: 0px;
}

.history-item {
    width: 100%;
    margin-bottom: -15px;
    cursor: pointer;
}

.recently-played-band {
    margin-left: 15px;
    color: brown;
    font-size: 60%;
    font-weight: bold;
    font-family: Avanti;
}


@font-face {
    font-family: "Biotif";
    src: url("../public/fonts/biotif-semibolditalic.ttf");
}


@font-face {
    font-family: "Commons";
    src: url("../public/fonts/tt-commons.otf");
}

@font-face {
    font-family: "Avanti";
    src: url("../public/fonts/avanti.ttf");
}