.song-info {
    display: inline;
    width: 78.5%;
    margin-left: 10px;
}

.song-title {
    font-size: 110%;
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: Biotif;
    color: #FFFDFE;

}

.band-title {
    color: #928C8E;
    font-size: 90%;
    font-weight: bold;
}

@font-face {
    font-family: "Biotif";
    src: url("../public/fonts/biotif-semibolditalic.ttf");
    }


    