.song-length {
    display: inline;
    width: 8.8%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}

.p-song-length {
    margin-top: 15px;
    display: inline;
    color: #928C8E;
    font-size: 90%;
    font-weight: bold;
}


@font-face {
    font-family: "Biotif";
    src: url("../public/fonts/biotif-semibolditalic.ttf");
    }

